body {
    background-color: #000000;
    text-align: center;
    color: white;
}

#nav01 a{
    color: white;
    margin-top: 5px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#tbody_todo{
    color: rgb(255, 255, 255);
}

.hero-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('https://source.unsplash.com/random') no-repeat center center/cover;
}
.hero-section h1 {
    color: white;
    font-size: 4em;
    margin-bottom: 20px;
}
.hero-section p {
    color: white;
    font-size: 1.5em;
    margin-bottom: 40px;
}
.btn-custom {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
}
.btn-custom:hover {
    background-color: #0056b3;
}